 削除ボタン
 <%=link_to 'もどる', root_path %>
 <% @tables.each do |table|%>
  <h3><%= table.id %></h3>
    <%if table.using == true %>
      <%= link_to "未使用にする",table_path(table.id), method: :put %> 
    <% else %>
      <%= link_to "使用中にする", "#" %> 
  <% end %>
<% end %>
