/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 * {
  box-sizing: border-box;
}

.footer-contents {
  display: flex;
  height:150px;
  color: #FFF;
  background-color:#faedd5;
  text-align: center;
  line-height: 32px;
  color:#554942;
}
.footer-lists{
  padding-top:10px;
  width:70%;
  margin:0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-lists > li{
  list-style: none;
  
}
.copyright{
  padding:3px 0;
  margin:0 auto;
}
body {
  overflow: scroll;
  text-align: center;
}

.navtop{
  position:fixed;
  width:100%;
  margin:0 auto;
  z-index: 10;
}
.navbar-nav{
  text-align: left;
}
.btn-outline-secondary:hover{
  background-color :#70a4d1;
}
select#keyword{
  width:100px;
}
$font-size-base :16px;
@import "bootstrap";

.fade{
  opacity: 1;
}
@import "bootstrap-sprockets";





  