/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  box-sizing: border-box;
}
header{
  color:#554942;
}
body {
  overflow: scroll;
  background-color: #FFF;
  text-align: center;
  color:#554942;  
}
.footer-contents {
  display: flex;
  justify-content: center;
  height:150px;
  padding: 3vh ;
  color: #FFF;
  background-color:#faedd5;
  text-align: center;
  line-height: 32px;
  color:#554942;
}
.footer-lists > li{
 list-style: none;
}
.copyright{
  padding:3px 0;
  margin:0 auto;
}


  