.item-form{
padding:4vh 2vw;
}
.item-content {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.item-inner{
  background-color: #FFF;
  display: inline-block;
  justify-content:space-around;
  padding: 10vh 0;
  width: 100vw;
  flex-wrap: wrap;
}
.item-inner>.list {
  width: 37vh;
  padding: 3vw;
  background-color: #FFF;
  list-style: none;
  border:solid 2px  #fff5ea;
  display: inline-block;
}
.item-img-content {
  position: relative;
  text-align: center;
  width: 200px;
  height: 200px;
  margin:0 auto;
  overflow: hidden;
}
.item-info{
  padding-top: 2vh;
  text-align: left;
  font-size: 2.5vh;
  text-decoration: none;
  align-content:flex-end;
 
}
.item-info p{
margin-bottom:0;
}

.title-contents {
  width: 100vw;
  height:350px;
  background-image: url("coffee-5037804_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.search-form{
  width:300px;
  margin:0 auto;
}
.search-form > form{
  display: flex;
  justify-content: space-around;
}
.new_item_container{
  width:400px;  
  padding:10vh 0 ;
  margin:0 auto;
  text-align: center;
  align-items: 32px;
  }
.new_item_container h3{
  margin:0 0 60px 0;
}

.group{
  margin:24px 0;
  overflow:hidden;
  line-height: 40px;
}

.group p{
  font-size:16px;
  columns: #333333;;
  text-align:left;
  margin:0;
  font-weight: bold;
}

.form_cont{
  width:400px !important;
  margin:0 auto; 
}
.form_cont p{
  color:#c70909;
  margin-left: 8px;
  text-align:right;
  margin:0;
  
}
.form_label{
  margin:0;
  float: left;

}
.form_label.require::after{
  content:"必須";
  font-size:10px;
  color:#FFF;
  white-space:nowrap;
  background-color:#c70909;
  border-radius: 3px;
  padding:3px 4px;
  margin-left:8px;
  
}
.form_small_cont{
  float: right;
  overflow:hidden;
  line-height: 40px;
  display:flex;
  width:150px !important;;
}
.cost.form-control::placeholder{
  text-align:right;
}
#item_image{
  float: right;
}
.ItemIcons{
 text-align:right;
 padding-right: 15px;
}
.ItemIcons a:hover{
  text-decoration: none;
}


