.order-content{
  padding: 5vh 0;
  width:80%;
  margin:0 auto;  
  height:400px;
}
.order-content:last-child{
  padding:5vh 5vh 0 0 ;
}
.order-title{ 
  padding:60px 0 !important; 
  text-align: center;
}

table{
  margin: 20px auto;
  border-collapse: collapse;
  position: relative;
  height: 230px;
}
tbody{
  position:absolute;
  max-height: 200px;
  overflow:scroll;
  background-color: rgb(212, 211, 211);

}
th, td {
  width: 105px;
  box-sizing: border-box;
  border: 1px solid #e9eae8;
}

thead th:nth-child(3) {
  width: 300px;
}
tbody td:nth-child(3) {
  width: 300px;
}

.order-content2{
  padding: 5vh 0 10vh 0 ;
  width:400px;
  text-align: center;
  margin:0 auto;
}

.order-list2{
  padding: 1vw;
  display: flex;
  justify-content: space-between;
}
.order-list > p{
  padding-left: 4vh;
}

.order-space{
  padding:5vh 0;
  display:flex;
  justify-content: center;
}
.order-links{
  width:400px;
  padding:5vh 0 10vh 0;
  margin:0 auto;
  display:flex;
  justify-content: space-around;
}
#order-btn-space{
  padding:2vh 0 0 0;
}

.reserved-content{
  padding: 5vh 0;
  width:80%;
  margin:0 auto;  
  height:400px;
}

.checked {
  opacity: 0.4;
  background-color: rgb(223, 221, 221);
}
 .unchecked {
  background-color:#fff;
}