
.order-content{
  padding-top: 5vh;
  width:80%;
  background-color: #FFF;
  margin:0 auto;
  overflow:scroll;
  
}
.order-content:last-child{
  padding:5vh 5vh 0 0 ;
}
table{
max-height: 20vh;
display: inline-block;
}
table {
  margin: 20px auto;
  border-collapse: collapse;
}
th, td {
  width: 105px;
  box-sizing: border-box;
  border: 1px solid #e9eae8;
  
}
tbody td:nth-child(3) {
  width: 300px;
}

.reserved-content{
}
.order-content2{
padding: 5vh 0 ;
width:300px;
background-color: #FFF;
text-align: center;
margin:0 auto;
}
.order-list{
  display: flex;
}

.order-list2{
  padding: 1vw;
  display: flex;
  justify-content: space-between;
}
.order-list > p{
  padding-left: 4vh;
}

.order-space{
  padding-top:6vh;
}

.reserved-boxes :read-only{
  opacity: 0.5;
}
