.table_info{
  padding: 8vh ;
  background-color: #FFF;
  line-height: 32px;
}
.show-cart-form{
  width:120px;
  margin:0 auto;  
}
.table_ids > ul{
  display:flex;
  justify-content: space-around;
}
.table_links{
  padding: 0 0 8vh 0 ;
}
.table_purchase{
  padding:8vh;
  height:600px;
  overflow:scroll;
  display:flex;
}
.table_select{
  text-align: center;
  margin:0 auto;  
}
.table-create-form{
  width:270px;
  margin:0 auto;  
}
.table-create-form > form{
  display:flex;
  justify-content: space-around;
}
.table_ids {
  width:300px;
  margin:0 auto;
}
.table_purchase_input{
  width:300px;
  padding: 8vh 0 12vh 0 ; 
  margin:0 auto;
  line-height: 36px;
}
.table_purchase_input > form{
  display:flex;
  justify-content: center;
  align-items: center;
}
.input-space{
  margin-left: 15px;
}
#total_cost{
  border-style: hidden;
  text-align: right;
  width:120px;
}

